body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 25px;
    color: black;
    background-color:black;
  
  background-size:100px 50px;
  }
  
  * {
    box-sizing: border-box;
  }
    
  